@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* variables */
:root {
  --primary-color: #f5f5f5;
  --secondary-color: #000000;
  --tertiary-color: #0000ff;
  --line: #c4421a;
}

html {
  scroll-behavior: smooth;
}

/* reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 150.88px;
  height: 150.88px;
}

/* fonts */
@font-face {
  font-family: "Poppins", serif;
  src: url(./fonts/);
}

p,
a,
h1,
h2,
h3 {
  color: var(--secondary-color);
  font-size: 12px;
}

/* Base Styles - Mobile First (default) */
body {
  font-size: 12px; /* Adjust as needed */
  padding: 10px;
  overflow-x: hidden;
  font-family: "Poppins", serif;
}

/* Mobile styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.site-nav {
  grid-column: 1/9;
  grid-row: 1;
  background-color: antiquewhite;
}
.site-nav {
  margin: 0 20px;
  margin-bottom: 20px;
}
.site-nav ul {
  display: none;
}

.logo img {
  width: 3.5em;
  height: 3.5em;
}

.hero-section {
  grid-column: 4/5;
  grid-row: 2;
  text-align: center;
  margin-bottom: 50px;
}

.hero-section h2,
h3,
p {
  margin-bottom: 5px;
}

.hero-section h3,
p {
  font-size: 1.5em;
}

.hero-section h2 {
  font-size: 1.8em;
}

.hero-section img {
  margin-bottom: 20px;
  width: 20em;
  height: 20em;
  background-color: var(--primary-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

button {
  padding: 14px;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 0.9em;
  transition: all 0.3s ease;
  display: inline-block;
}

.icons a {
  font-size: 30px;
}
.active-color {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.active-color:hover {
  background-color: #414141;
  color: white;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.about {
  grid-column: 4/5;
  grid-row: 3;
  margin-top: 50px;
}

.about img {
  margin-top: 20px;
  border-radius: 20px;
  width: 150px;
  height: 150px;
}

.about p {
  font-size: 1em;
}

.about .about-items {
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 10px;
}

.about .about-items.experience,
.about-items.education,
.about-text {
  margin-bottom: 20px;
}

.about i {
  font-size: 2em;
}

.experience {
  grid-column: 4/5;
  grid-row: 4;
}

.experience p {
  font-size: 1em;
}

.content1,
.content2 {
  border: 1px solid var(--secondary-color);
  padding: 20px 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.experience > .content1,
.content2,
p {
  font-size: 1.5em;
}

.content-item {
  display: flex;
  margin-left: 25%;
  padding: 5px;
}
.content-item span:nth-child(1) {
  padding-top: 10px;
  font-size: 1em;
}

span {
  margin: 0 5px;
}
.content-item span .discribe {
  font-size: 12px;
}
.projects {
  grid-column: 4/5;
  grid-row: 5;
  margin-bottom: 50px;
}

.projects img {
  border-radius: 20px;
}
.projects p {
  font-size: 1em;
}

.projects .cards {
  border: 1px solid var(--secondary-color);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.projects .cards p {
  font-size: 1.5em;
  font-weight: 500;
}

.projects > .cards > a.project-btn {
  color: var(--secondary-color);
}

.contact {
  grid-column: 4/5;
  grid-row: 6;
  text-align: center;
  justify-content: center;
}

.contact p {
  font-size: 1em;
}

.contact-info {
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 60px;
}

.contact-info a,
i {
  font-size: 1.1em;
  padding: 2px;
}

.contact-info i {
  background-color: aliceblue;
}

.nav-footer ul {
  margin-bottom: 50px;
}

.nav-footer ul li {
  margin-bottom: 20px;
}

.nav-footer a:hover{
  text-decoration: underline;
  text-decoration-color: var(--line);
  text-transform: all .3s ease-in-out;
  text-decoration-thickness: 2px;
}

/* Tablets (Min-width: 768px) */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    background-color: blue;
  }
}

/* Laptops (Min-width: 1024px) */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
    background-color: red;
  }
}

/* Desktops (Min-width: 1280px) */
@media screen and (min-width: 1280px) {
  body {
    font-size: 22px;
    background-color: aqua;
  }
}
